ul.paginador{  }
ul.paginador li
{
  float:left;
}
ul.paginador li a
{
  float:left;
}
ul.paginador li.paginador-active a, ul.paginador li a:hover
{
  background-color: #337ab7;
  border-color: #337ab7;
  color:#FFFFFF;
}
ul.paginador li.paginador-disabled a, ul.paginador li.paginador-disabled a:hover
{
  cursor:default;
}
ul.paginador li.paginador-current{  }